*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
h1{
    font-size: 4rem;
}
body{
    background-color: black;
    color: aliceblue;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top:5rem;


}
hr{
    margin-bottom: 2.5rem;
    width: 18rem;
}
#inputValue{
    min-width:20rem;
    height: 3.2rem;
    padding: 6px 2px;
    margin:1rem 3rem 1rem 0;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    &:hover{
        box-shadow:rgba(247, 247, 247, 0.868) 0px 4px 12px;
    }
    
}
.todo-elements {
    max-height: 60vh; /* Limits section height */
    width: 100%;
}

li{
    margin: 1rem ;
    cursor: pointer;
    list-style-type:circle;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 2rem;
    &:hover{
        color: #FFCC70;
    }

}
button{
    width: 10rem;
    font-size: 2rem;
    letter-spacing: 2px;
    font-family:  cursive;
    font-weight: 550;
    height: 3.9rem;
    background-color: #FFCC70;
    padding: 0.6rem 1.2rem;
    margin:1rem 0 1rem 0;
    border-radius:2rem;
    border: none;
   
    &:hover{
        box-shadow: rgba(249, 248, 248, 0.35) 0px 5px 15px;
        background-color:#f9cf81 ;
    }
}

.css_of_elem{
    width: 32rem;
    height: auto;
    display: grid;
    grid-template-columns:1fr 0.3fr ;
    align-items:start;
    margin: 1.2rem 2rem 1rem 0;
    

}